extends layout

block content
  section
    .center
      img.logo(src="images/one-web.svg")
      h2 WSB Template Finder
      |
      form(action='/search', method='post')
        input#search(type='text', placeholder='e.g. A887B21D-7067-42F0-924C-5433BFE46B7C' name='search' autofocus)
        button(type='submit')
        p.match #{ page }
        //- p.template-json #{ templateId }
        //- p.result Page ID: #{highlight.id}
        //- p.result Page Name: #{highlight.name} 
  - var result = templates.length > 1  ? true : false
    if result
      p.result Found #{ templates.length } matches
    else
      p.result Found #{ templates.length } match

  div.context
    -
      var list = templates
    ul.template-list
      each item in list
        - var pages = item.pages
        - var showCategories = item.categories !== undefined ? item.categories.length > 0 : false
        li.template-name
          h3.template-title= item.name
          p.template-id= item.id
          p.template-stylesheet= item.stylesheetId
          if showCategories
            p.template-category= item.categories 
            br
          else
            br
          ul.template-pages
              each page in pages
                li.template-page
                  span.page-name= page.name
                  span.page-id= page.id
          p.template-pages= pages.length
  script(src='https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/mark.min.js')
  script.
    var instance = new Mark(document.querySelector('.context'))
    instance.mark(document.querySelector('.match').innerText)